@page "/passwordchangeconfirmed"

<div class="text-center">
    <div class="my-4 fw-bold h4">
        Sua senha foi atualizada com sucesso
    </div>
    <div class="my-4">
        <button class="first-style-button" href="login">
            Fazer login
        </button>
    </div>
</div>

@code {

}
