@page "/passwordchange/{restorationcode}"
@inject IUserService userService
@inject NavigationManager navManager

@if (isInitialized)
{
	<div>
		Senha
	</div>	
	<div>
		Confirmar senha
	</div>
}

@code {
	[Parameter]
	public string? RestorationCode { get; set; }
	private UserModel? User { get; set; }
	private bool isInitialized = false;

	protected override async Task OnInitializedAsync()
	{
		await PageVerification();
	}

	private async Task<bool> PageVerification()
	{
		if (RestorationCode is null)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		User = await userService.GetUserByRestorationCode(new Guid(RestorationCode));

		if (User is null)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		isInitialized = true;

		return true;
	}
}
