@page "/restorationexpired"

<div class="text-center my-4 fw-bold h4">
	O seu email para recuperar a senha expirou, solicite um novo.
</div>

<div class="text-center my-4">
	<a class="first-style-button" href="accountrestoration">
		Solicitar
	</a>
</div>

@code {

}
