html {
    height: 100%;
}

body {
    background-color: #171717;
    background-repeat: no-repeat;
}

/*Navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #171717;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 0 90px;
}

    .logo:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

.nav-links {
    display: flex;
    padding: 0 30px 0 0;
}

.nav-link {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

    .nav-link:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

/*Login Page*/

.iniciar-sessao-paragraph {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

.form-div {
    background-color: #FFF;
    width: 25%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.form-input-text {
    border-radius: .4rem;
    border-style: groove;
    border-color: #B0B0B0;
}

.username-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.password-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.form-button-div{
    text-align: center;
}

.form-button {
    background-color: #E79A00;
    margin: 20px 0 0 0;
    padding: 15px 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 15px;
    border-color: transparent;
    transition: .4s;
}

    .form-button:hover {
        background-color: #C78500;
    }