html {
    height: 100%;
}

body {
    background-color: #171717;
    background-repeat: no-repeat;
}

/*Navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#F1AF2A, #D78F00);
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 0 90px;
}

    .logo:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

.nav-links {
    display: flex;
    padding: 0 30px 0 0;
}

.nav-link {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

    .nav-link:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

    .nav-link:focus {
        color: #DCDCDC;
    }

/*Index page*/

.create-roadmap-div{
    text-align: center;
    margin: 20px 0 0 0;
}

/*Login and Registration page*/

.iniciar-sessao-paragraph {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    padding: 20px 0 10px 0;
    background-image: linear-gradient(#F1AF2A, #D78F00)
}

.form-div {
    background-color: #FFF;
    width: 25%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.form-input-text {
    border-color: transparent;
    font-size: 20px;
    width: 90%;
    margin: 0 0 15px 0;
    padding: 10px 0 10px 5px;
    background-color: #F6F6F6;
}

.username-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 20px 0 0 0;
}

.password-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.form-button-div{
    text-align: center;
}

.form-button {
    background-color: #EF9F00;
    margin: 20px 0 0 0;
    padding: 15px 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 15px;
    border-color: transparent;
    transition: .4s;
    text-decoration: none;
}

    .form-button:hover {
        background-color: #D78F00;
        color: #FFF;
    }