html {
    height: 100%;
}

body {
    background-color: #171717;
    color: #FFF;
    background-repeat: no-repeat;
}

/*Navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#F1AF2A, #D78F00);
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 0 90px;
}

    .logo:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

.nav-links {
    display: flex;
    padding: 0 30px 0 0;
}

.nav-link {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

    .nav-link:hover {
        color: #E3E3E3;
        transition: 0.3s;
    }

    .nav-link:focus {
        color: #DCDCDC;
    }

/*Not Authorized*/

.not-authorized-message-div {
    text-align: center;
}

.not-authorized-message-p-div {
    padding: 0 0 40px 0;
}

.not-authorized-message {
    font-weight: bold;
    font-size: 24px;
}

/*Not Found*/
.not-found-label{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.not-found-description{
    text-align: center;
    font-size: 20px;
}

/*Alerts*/
.alert-message-div {
    margin: 20px 0 0 0;
    text-align: center;
}

.alert-message {
    font-weight: bold;
    font-size: 24px;
}

/*Index page*/

.index-main-div{
    display: flex;
}

.roadmap-main-div {
    margin: 10px 20px 0 10px;
    width: 100%;
}

.roadmap-second-div{
    display: flex;
} 

.roadmap-box-div {
    border-style: groove;
    border-color: #FFF;
    margin: 0 0 10px 0;
    width: 100%;
}

.roadmap-name-div {
    background-image: linear-gradient(#F1AF2A, #D78F00);
    padding: 5px 0 2px 0;
}

.roadmap-name {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 0 0 10px;
}

.roadmap-description-div {
    font-size: 18px;
    padding: 10px 0 0 10px;
}

.roadmap-category-author-main-div {
    display: flex;
    justify-content: space-between;
}

.roadmap-category-div {
    display: flex;
}

.roadmap-category-label {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.roadmap-category-value {
    font-size: 18px;
}

.roadmap-author-div{
    display: flex;
    margin: 0 20px 0 0;
}

.roadmap-author-label {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.roadmap-author-value {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
}

    .roadmap-author-value:hover {
        color: #CAC9C8;
        transition: 500ms;
    }

.create-roadmap-button-div {
    text-align: center;
    width: 50%;
    margin: 20px 0 0 0;
}

.vote-button {
    height: 94.5%;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-color: #FFF;
    border-radius: 10px 0 0 10px;
    padding: 0 30px;
}

.vote-button-voted {
    height: 94.5%;
    color: white;
    background-color: #EE690B;
    font-weight: bold;
    font-size: 20px;
    border-color: #FFF;
    border-radius: 10px 0 0 10px;
    padding: 0 30px;
}

    .vote-button:hover {
        transition: 500ms;
        background: #FC9A55;
    }

.vote-icon {
    font-size: 40px;
}
/*Login and Registration page*/

.iniciar-sessao-paragraph {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    padding: 20px 0 10px 0;
    background-image: linear-gradient(#F1AF2A, #D78F00)
}

.form-div {
    background-color: #FFF;
    width: 25%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.form-input-text {
    border-color: transparent;
    font-size: 20px;
    width: 90%;
    margin: 0 0 15px 0;
    padding: 10px 0 10px 5px;
    background-color: #F6F6F6;
}

.first-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 20px 0 0 0;
}

.other-form-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.button-div{
    text-align: center;
}

.first-style-button {
    background-color: #EF9F00;
    margin: 20px 0 0 0;
    padding: 15px 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 15px;
    border-color: transparent;
    transition: .4s;
    text-decoration: none;
}

    .first-style-button:hover {
        background-color: #D78F00;
        color: #FFF;
    }

.registre-se-aqui-div {
    text-align: center;
    background-color: #FFF;
    width: 25%;
    margin: 10px auto;
    padding: 20px 0 40px 0;
}

.registre-se-aqui-div-p{
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/*Profile*/

.user-profile-div{
    display: flex;
    border: solid #FFF;
    width: 100%;
}

.user-profile-photo-div {
    border-right: solid #FFF;
    box-sizing: border-box;
}

.user-profile-username-bio-div {
    width: 100%;
}

.user-profile-username {
    margin: 0 0 10px 0;
    border-bottom: solid #FFF;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    font-size: 30px;
}

.edit-profile-button {
    text-align: center;
}

.profile-user-roadmaps-label-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-user-roadmaps-label-div p {
    font-size: 35px;
    font-weight: bold;
}
