@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <nav class="navbar">
            <div class="d-flex align-items-center">
                <a class="logo" href="/">
                    <span>Roadmaps</span>
                </a>
                <div @onclick="ToggleLightMode">
                    <img src="@themeButton" class="theme-icon"/>
                </div>
            </div>
            <div class="nav-links">
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link"
                           href="profile/@context.User.FindFirst(ClaimTypes.Name)?.Value">
                            @context.User.FindFirst(ClaimTypes.Name)?.Value
                        </a>
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-account-logout">Sair</span>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-logout">Entrar</span>
                        </NavLink>
                        <NavLink class="nav-link" href="register">
                            <span class="oi oi-account-logout">Registrar</span>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>
        <article class="mx-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string themeButton = "https://static.vecteezy.com/system/resources/previews/009/664/677/original/sun-sun-ray-icon-transparent-free-png.png";

    private async Task ToggleLightMode()
    {
        await JSRuntime.InvokeVoidAsync("toggleLightMode");

        if (themeButton == "https://static.vecteezy.com/system/resources/previews/009/664/677/original/sun-sun-ray-icon-transparent-free-png.png")
        {
            themeButton = "https://www.freeiconspng.com/uploads/moon-icon-32.png";
            return;
        };

        themeButton = "https://static.vecteezy.com/system/resources/previews/009/664/677/original/sun-sun-ray-icon-transparent-free-png.png";
    }
}