@inherits LayoutComponentBase


<div class="page">
    <main>
        <nav class="navbar">
            <div>
                <NavLink class="logo" href="/">
                    <span>Roadmaps</span>
                </NavLink>
            </div>
            <div class="nav-links">
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link"
                           href="profile/@context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                            @context.User.FindFirst(ClaimTypes.Name)?.Value
                        </a>
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-account-logout">Sair</span>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-logout">Entrar</span>
                        </NavLink>
                        <NavLink class="nav-link" href="register">
                            <span class="oi oi-account-logout">Registrar</span>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>
        <article>
            @Body
        </article>
    </main>
</div>
