@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <nav class="navbar">
            <div class="d-flex align-items-center">
                <a class="logo" href="/">
                    <span>Roadmaps</span>
                </a>
                <button class="theme-button" id="light-button" @onclick="ToggleLightMode">@themeButtonName</button>
            </div>
            <div class="nav-links">
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link"
                           href="profile/@context.User.FindFirst(ClaimTypes.Name)?.Value">
                            @context.User.FindFirst(ClaimTypes.Name)?.Value
                        </a>
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-account-logout">Sair</span>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-logout">Entrar</span>
                        </NavLink>
                        <NavLink class="nav-link" href="register">
                            <span class="oi oi-account-logout">Registrar</span>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>
        <article>
            @Body
        </article>
    </main>
</div>

@code {
    private string themeButtonName = "Dark";

    private async Task ToggleLightMode()
    {
        await JSRuntime.InvokeVoidAsync("toggleLightMode");

        if (themeButtonName == "Dark")
        {
            themeButtonName = "Light";
            return;
        };

        themeButtonName = "Dark";
    }
}