@page "/emailconfirmationnotconfirmed"
@inject IUserService userService
@inject NavigationManager navManager

<div class="text-center fw-bold h4 my-4">
	Seu email não foi confirmado ainda, verifique as suas mensagens de email ou clique no botão abaixo
	para reenviar o email.
</div>

@code {

}
