@page "/emailconfirmationsendmessage"

<div class="text-center fw-bold h4 my-4">
	Enviamos para você no seu email, um email com um link de confirmação, após acessar o link
	você tera acesso completo ao site.
</div>

@code {

}
