@inject IComentarioService comentarioService

@if (isInitialized)
{
    <div class="display-comment-div">
        <div class="display-comment-label">
            Comentario
        </div>
        <div class="display-comment-description">
            @Comment!.Description
        </div>
        <div class="display-comment-date">
            Criado em: @Comment.CreatedDate
        </div>
        <div class="text-center my-4">
            <a class="second-style-button" href="/profile/@Comment.AuthorName">
                Usuario
            </a>

            <a class="second-style-button" href="/roadmap/@Comment.RoadmapId">
                Roadmap
            </a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid? CommentId { get; set; }
    private ComentarioModel? Comment { get; set; }
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        await PageVerification();
    }

    private async Task PageVerification()
    {
        Comment = await comentarioService.GetComentarioById(CommentId);

        if (Comment is not null)
        {
            isInitialized = true;
        }
    }
}
