@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        Usuario @context.User.FindFirst(ClaimTypes.Name).Value é um admin
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        Usuario @context.User.FindFirst(ClaimTypes.Name).Value esta autorizado
    </Authorized>
    <NotAuthorized>
        <h4>Usuario não esta autorizado</h4>
    </NotAuthorized>
</AuthorizeView>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
