@inject NavigationManager navManager
@inject IUserService userService
@inject IRoadmapService roadmapService
@inject IRoadmapVotingService votingService

@if (isInitialized)
{
    <div class="text-center">
        <div class="delete-roadmap-confirmation-label-div">
            <p>Tem certeza que deseja deletar esse roadmap?</p>
        </div>
        <div class="text-center">
            <button class="first-style-button"
                @onclick="async () => await DeleteRoadmap(new Guid(RoadmapId!))">
                Sim
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? RoadmapId { get; set; }
    private Guid LoggedInUserId { get; set; }
    private UserModel? LoggedInUserModel { get; set; }
    private RoadmapClassModel? Roadmap { get; set; }
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        await PageVerification();
    }

    private async Task<bool> PageVerification()
    {
        LoggedInUserId = await userService.GetLoggedInUserId();

        if (LoggedInUserId == Guid.Empty)
        {
            navManager.NavigateTo("/notfound");

            return false;
        }

        if (RoadmapId is null)
        {
            navManager.NavigateTo("/notfound");

            return false;
        }

        if (new Guid(RoadmapId!) == Guid.Empty)
        {
            navManager.NavigateTo("/notfound");

            return false;
        }

        Roadmap = await roadmapService.GetRoadmapById(new Guid(RoadmapId!));

        await GetUserModel();

        if (LoggedInUserModel is null)
        {
            navManager.NavigateTo("/notfound");

            return false;
        }

        if (LoggedInUserId != Roadmap!.UserId)
        {
            navManager.NavigateTo("/notfound");

            return false;
        }

        isInitialized = true;

        return true;
    }

    private async Task DeleteRoadmap(Guid roadmapId)
    {
        var deleteResponse = await roadmapService.DeleteRoadmap(roadmapId);

        navManager.NavigateTo($"/profile/{LoggedInUserModel.Username}");
    }

    private async Task GetUserModel()
    {
        LoggedInUserModel = await userService.GetUserById(LoggedInUserId);
    }
}
