@page "/editprofile/{userid}"
@inject NavigationManager navManager
@inject IUserService userService

@if (isInitialized)
{
	<div class="edit-profile-label-div">
		Escreva algo em sua bio
	</div>

	<EditForm Model="LoggedInUserModel" OnValidSubmit="UpdateProfile" class="" Context="ProfileForm">
		<div class="first-input-text-div">
			<label for="bio" class="visually-hidden">Usuario</label>
			<div>
				<InputTextArea id="bio" class="form-input-text-description" @bind-Value="LoggedInUserModel!.Bio" placeholder="Bio (Maximo 1000 caracteres)" />
			</div>
		</div>

		<div class="text-center">
			<button type="submit" class="first-style-button">Salvar</button>
		</div>
	</EditForm>

	@if (showAuthenticationError)
	{
		<div role="alert" class="alert-message-div">
			<p class="alert-message">@authenticationErrorText</p>
		</div>
	}
}

@code {
	[Parameter]
	public string? UserId { get; set; }
	public Guid LoggedInUserId { get; set; }
	public UserModel? LoggedInUserModel { get; set; }
	private bool isInitialized = false;
	private bool showAuthenticationError = false;
	private string authenticationErrorText = "";

	protected override async Task OnInitializedAsync()
	{
		await PageVerification();
	}

	private async Task<bool> PageVerification()
	{
		if (UserId is null)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		LoggedInUserId = await userService.GetLoggedInUserId();

		if (LoggedInUserId == Guid.Empty)
		{
			navManager.NavigateTo("/login");

			return false;
		}

		LoggedInUserModel = await userService.GetUserById(new Guid(UserId!));

		if (LoggedInUserModel is null)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		if (LoggedInUserModel.IsConfirmed is false)
		{
			navManager.NavigateTo("/emailnotconfirmed");

			return false;
		}

		if (LoggedInUserModel.IsBanned is true)
		{
			navManager.NavigateTo("/banned");

			return false;
		}

		if (UserId != LoggedInUserId.ToString())
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		isInitialized = true;

		return true;
	}

	private async Task UpdateProfile()
	{
		var result = await userService.UpdateUser(LoggedInUserModel!);

		if (result is not null)
		{
			authenticationErrorText = "Perfil atualizado com sucesso";
			showAuthenticationError = true;
			navManager.NavigateTo($"/profile/{LoggedInUserModel!.Username}");
		}
		else
		{
			authenticationErrorText = "Não foi possivel atualizar o perfil";
			showAuthenticationError = true;
		}
	}
}
