@page "/editnode/{nodeid}"
@inject INodeService nodeService
@inject IRoadmapService roadmapService
@inject IUserService userService
@inject NavigationManager navManager

@if (IsInitialized)
{
    <div>
        @Node!.Name
        @Node.Description
    </div>
    <div>
        <button>
            Excluir Node
        </button>
        <button>
            Editar Node
        </button>
    </div>
}

@code {
    [Parameter]
    public string? NodeId { get; set; }
    private Guid LoggedInUserId { get; set; }
    private NodeModel? Node { get; set; }
    private UserModel? User { get; set; }
    private RoadmapClassModel? Roadmap { get; set; }
    private bool IsInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        if (NodeId is null)
        {
            navManager.NavigateTo("/notfound");
        }

        LoggedInUserId = await userService.GetLoggedInUserId();

        User = await userService.GetUserById(LoggedInUserId);

        if (User.IsBanned == "1")
        {
            navManager.NavigateTo("/banned");
        }

        Node = await nodeService.GetNodeById(new Guid(NodeId!));

        if (Node is null)
        {
            navManager.NavigateTo("/notfound");
        }

        Roadmap = await roadmapService.GetRoadmapById(Node!.RoadmapId);

        if (Roadmap is null)
        {
            navManager.NavigateTo("/notfound");
        }

        if (Roadmap!.UserId != LoggedInUserId)
        {
            navManager.NavigateTo("/notfound");
        }

        IsInitialized = true;
    }
}
