@page "/"
@inject IRoadmapService roadmapService
@inject IUserService userService
@inject ILocalStorageService localStorage

<div class="index-main-div">
	<div class="roadmap-main-div">
		@if (roadmaps != null)
		{
			foreach (var roadmap in roadmaps)
			{
				<div class="roadmap-box-div">
					<div class="roadmap-name-div">
						<p class="roadmap-name">@roadmap.Name</p>
					</div>

					<div class="roadmap-description-div">
						<p>@roadmap.Description</p>
					</div>

					<div class="roadmap-category-author-main-div">
						<div class="roadmap-category-div">
							<div class="roadmap-category-label">
								<p>Categoria:</p>
							</div>
							<div class="roadmap-category-value">
								@roadmap.Category
							</div>
						</div>

						<div class="roadmap-author-div">
							<div class="roadmap-author-label">
								<p>Autor: </p>
							</div>
							<div class="roadmap-author-value">
								@roadmap.Author
							</div>
						</div>
					</div>
				</div>
			}
		}
	</div>

	<div class="create-roadmap-button-div">
		<a class="first-style-button" href="createroadmap">
			Create Roadmap
		</a>
	</div>
</div>

@code {

	private IList<RoadmapClassModel> roadmaps;
	private const string roadmapList = "roadmapList";
	private const string roadmapCacheDate = "roadmapCacheDate";

	protected override async Task OnInitializedAsync()
	{
		roadmaps = await localStorage.GetItemAsync<IList<RoadmapClassModel>>(roadmapList);
		DateTime? cacheDate = await localStorage.GetItemAsync<DateTime>(roadmapCacheDate);
		double totalHours = 0;

		if (cacheDate is not null)
		{
			totalHours = DateTime.UtcNow.Subtract((DateTime)cacheDate).TotalHours;
		}

		if (roadmaps is null || cacheDate is null || totalHours > 6)
		{
			try
			{
				roadmaps = await GetAllRoadmaps();
				await localStorage.SetItemAsync(roadmapList, roadmaps);
				await localStorage.SetItemAsync(roadmapCacheDate, DateTime.UtcNow);
			}
			catch (Exception ex)
			{
				Console.WriteLine($"Ocorreu um erro para carregar a pagina: {ex.Message}");
			}

		}
	}

	private async Task<IList<RoadmapClassModel>> GetAllRoadmaps()
	{
		var roadmaps = await roadmapService.GetAllRoadmaps();
		var users = await userService.GetAllUsers();

		foreach (var roadmap in roadmaps)
		{
			foreach (var user in users)
			{
				if (roadmap.UserId == user.Id)
				{
					roadmap.Author = user.Username;
				}
			}
		}

		return roadmaps;
	}
}


