@page "/profile/{userid}"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject IUserService userService
@inject IRoadmapService roadmapService

<AuthorizeView>
	<Authorized>

		<div>
			<p>Username: @User.Username</p>
		</div>

		<div>
			@foreach (var roadmap in Roadmaps)
			{
				<div class="roadmap-box-div">
					<div class="roadmap-name-div">
						<p class="roadmap-name">@roadmap.Name</p>
					</div>

					<div class="roadmap-description-div">
						<p>@roadmap.Description</p>
					</div>

					<div class="roadmap-category-author-main-div">
						<div class="roadmap-category-div">
							<div class="roadmap-category-label">
								<p>Categoria:</p>
							</div>
							<div class="roadmap-category-value">
								@roadmap.Category
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		@if (UserId == LoggedInUserId)
		{
			<div class="edit-profile-button">
				<a class="first-style-button">
					Edit Profile
				</a>
			</div>
		}
	</Authorized>
	<NotAuthorized>
		<div class="not-authorized-message-div">
			<div class="not-authorized-message-p-div">
				<p class="not-authorized-message">Você não esta autorizado para ver esta pagina, entre em uma conta primeiro</p>
			</div>
			<div>
				<a class="first-style-button" href="login">
					Entrar
				</a>
			</div>
		</div>
	</NotAuthorized>
</AuthorizeView>


@code {
	[Parameter]
	public string? UserId { get; set; }
	public string? LoggedInUserId { get; set; }
	public UserModel User { get; set; }
	public IList<RoadmapClassModel> Roadmaps { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await GetLoggedInUserId();
		await GetUserByPageId(UserId);
		await GetRoadmapsByUserId(new Guid(UserId));
	}

	private async Task GetLoggedInUserId()
	{
		var authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
		var user = authenticationState.User;
		var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

		if (userId is null)
		{
			LoggedInUserId = "";
			throw new Exception("Usuario nao esta logado");
		}

		LoggedInUserId = userId;
	}

	private async Task GetUserByPageId(string userId)
	{
		User = await userService.GetUserById(new Guid(userId));
	}

	private async Task GetRoadmapsByUserId(Guid userId)
	{
		var roadmaps = await roadmapService.GetRoadmapByUserId(userId);

		Roadmaps = roadmaps;
	}
}
