@page "/profile/{userid}"
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager navManager

<h1>User Profile</h1>

<p>User ID: @UserId</p>

@code {
	[Parameter]
	public string? UserId { get; set; }
}
