@page "/register"
@inject IRegistrationService registrationService
@inject NavigationManager navManager

<EditForm Model="model" OnValidSubmit="ExecuteRegister" class="">
	<div class="form-div">
		<div class="iniciar-sessao-paragraph">
			<p>Criar conta</p>
		</div>

		<div class="first-form-label">
			<label for="username" class="visually-hidden">Usuario</label>
			<div>
				<InputText id="username" class="form-input-text" @bind-Value="model.Username" placeholder="Usuario"/>
			</div>
		</div>

		<div class="other-form-label">
			<div>
				<label for="password" class="visually-hidden">Senha</label>
				<InputText id="password" class="form-input-text" @bind-Value="model.Password" placeholder="Senha"/>
			</div>
		</div>

		<div class="button-div">
			<button type="submit" class="first-style-button">Registrar</button>
		</div>
	</div>
</EditForm>

<div role="alert" class="alert-message-div">
	<p class="alert-message">@registrationMessage</p>
</div>

@code {

	private RegistrationModel model = new();

	private string registrationMessage = "";

	private async Task ExecuteRegister()
	{
		var result = await registrationService.RegisterUser(model);

		registrationMessage = result;
	}
}
