@page "/register"
@inject IRegistrationService registrationService
@inject NavigationManager navManager

<EditForm Model="model" OnValidSubmit="ExecuteRegister">
	<div class="form-div">
		<div class="iniciar-sessao-paragraph">
			<p>Crie sua conta</p>
		</div>

		<div class="username-form-label">
			<div>
				<span>Usuario</span>
			</div>
			<div>
				<InputText id="username" class="form-input-text" @bind-Value="model.Username" placeholder:="Usuario" />
			</div>
		</div>

		<div class="password-form-label">
			<div>
				<span>Senha</span>
			</div>
			<div>
				<InputText id="password" class="form-input-text" @bind-Value="model.Password" placeholder:="Senha" />
			</div>
		</div>

		<div class="form-button-div">
			<button type="submit" class="form-button">Entrar</button>
		</div>
	</div>
</EditForm>

<div role="alert">
	<p>@registrationMessage</p>
</div>

@code {

	private RegistrationModel model = new();

	private string registrationMessage = "";

	private async Task ExecuteRegister()
	{
		var result = await registrationService.RegisterUser(model);

		registrationMessage = result;
	}
}
