@page "/register"
@inject NavigationManager navManager
@inject IRegistrationService registrationService

<EditForm Model="RegistrationUser" OnValidSubmit="ExecuteRegister">
	<div class="form-div">
		<div class="form-label-div">
			<p>Criar conta</p>
		</div>

		<div class="first-input-text-div">
			<label for="username" class="visually-hidden">Usuario</label>
			<div>
				<InputText id="username" class="form-input-text" @bind-Value="RegistrationUser.Username" placeholder="Usuario" />
			</div>
		</div>

		<div class="input-text-div">
			<label for="email" class="visually-hidden">Email</label>
			<div>
				<InputText id="email" class="form-input-text" @bind-Value="RegistrationUser.Email" placeholder="Email" />
			</div>
		</div>

		<div class="input-text-div">
			<div>
				<label for="password" class="visually-hidden">Senha</label>
				<InputText type="password" id="password" class="form-input-text" @bind-Value="RegistrationUser.Password" placeholder="Senha" />
			</div>
		</div>

		<div class="input-text-div">
			<div>
				<label for="confirmPassword" class="visually-hidden">Confirmar Senha</label>
				<InputText type="password" id="confirmpassword" class="form-input-text" @bind-Value="RegistrationUser.ConfirmPassword" placeholder="Confirmar Senha" />
			</div>
		</div>

		<div class="text-center">
			<button type="submit" class="first-style-button">Registrar</button>
		</div>
	</div>
</EditForm>

<div role="alert" class="alert-message-div">
	<p class="alert-message">@registrationMessage</p>
</div>

@code {
	private RegistrationModel RegistrationUser = new();
	private string registrationMessage = "";
	private string messageWhenRegistrationIsSuccessfull = "Usuario registrado com sucesso";

	private async Task ExecuteRegister()
	{
		if (RegistrationUser.Password != RegistrationUser.ConfirmPassword)
		{
			registrationMessage = "As senhas não coincidem.";
			return;
		}

		var result = await registrationService.RegisterUser(RegistrationUser);

		registrationMessage = result;
		StateHasChanged();

		if (registrationMessage == messageWhenRegistrationIsSuccessfull)
		{
			navManager.NavigateTo("/emailconfirmationsendmessage");
		}
	}
}
