@page "/verifyauth"

@if (isAuthenticatedUser)
{
	<h4>@userName esta autenticado</h4>
	<ul>
		<li>Acesso para Administrador: @isAdmin</li>
	</ul>
}
else
{
	<h4>Usuario nao esta autenticado</h4>
}

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthState { get; set; }

	private string userName;
	private bool isAdmin = false;
	private bool isAuthenticatedUser = false;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthState;

		if (authState.User.Identity.IsAuthenticated)
		{
			isAuthenticatedUser = true;

			userName = authState.User.FindFirst(ClaimTypes.Name).Value;

			isAdmin = authState.User.IsInRole("Admin");
			isAuthenticatedUser = authState.User.IsInRole("User");
		}
	}
}
